@media screen and (max-width: 600px) {
  /* nav responsive  */

  .nav_menu {
    display: none;
  }
  .hamburger_icon {
    display: block;
  }
  /* banner responsive  */
  .banner_wrapper {
    padding: 60px 8px;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }
  .search_box {
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
  }
  .search_box > div {
    display: block;
    width: 100%;
  }
  .search_box select {
    margin-bottom: 10px;
    width: 100%;
  }
  .search_box button {
    width: 100%;
  }

  /* tour responsive  */
  .tour_wrapper {
    flex-direction: column;
    padding: 50px 15px;
  }

  /* destination section responsive  */
  .destination_wrapper {
    margin-left: 5px;
    margin-right: 5px;
  }
  .destination_first_box {
    grid-template-columns: 1fr;
  }
  .destination_second_box {
    grid-template-columns: 1fr;
  }
  .destination_third_box {
    grid-template-columns: 1fr;
  }
}
