/* common styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--black-color);
}
:root {
  --primary-color: #ff5400;
  --secondary-color: #5a5a5d;
  --sub-color: rgba(19, 19, 24, 0.7);
  --rare-color: rgba(255, 255, 255, 0.3);
  --black-color: black;
  --white-color: white;
  --Mulish: Mulish, sans-serif;
}
body {
  font-family: var(--Mulish);
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.primary_button {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 16px 34px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}
/* nav section styles  */
.container_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 49px 0;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo_img {
  max-width: 50px;
}
.logo img {
  width: 100%;
}
.logo > h2 {
  color: var(--black-color);
  font-size: 36px;
  font-weight: 800;
  padding-left: 16px;
}
.logo > h2 > span {
  color: var(--primary-color);
}
.nav_menu {
  display: flex;
}
.nav_menu li {
  list-style: none;
  padding: 0 22px;
  font-size: 18px;
  font-weight: 600;
}
.nav_menu li:last-child {
  padding-right: 0;
}
.nav_menu li a {
  transition: all linear 0.4s;
}
.nav_menu li:hover a {
  color: var(--primary-color);
}
.hamburger_icon {
  display: none;
  margin-right: 10px;
  font-size: 24px;
}

/* banner section styles  */

.banner_wrapper {
  background: linear-gradient(
      rgba(19, 19, 24, 0.815) 0%,
      rgba(19, 19, 24, 0.219) 100%
    ),
    url(../Images/Group\ 13\ .png);
  padding: 106px 0;
  border-radius: 8px;
  background-repeat: no-repeat;
  height: 100%;
}
.banner_wrapper h1 {
  color: var(--white-color);
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}
.banner_wrapper p {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 24px;
  max-width: 676px;
  margin: 0 auto;
  text-align: center;
}
.search_box {
  display: flex;
  max-width: 800px;
  background-color: var(--rare-color);
  margin: 0 auto;
  justify-content: space-around;
  padding: 16px 16px;
  border-radius: 8px;
  margin-top: 48px;
}
.search_box select {
  padding: 14px 26px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
.search_box button > i {
  padding-right: 10px;
}
.search_box button:hover {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

/* tour section styles  */
.tour_wrapper {
  padding: 100px 0;
  display: flex;
  gap: 50px;
  align-items: center;
}
.tour_wrapper h3 {
  color: var(--black-color);
  font-size: 40px;
  font-weight: 800;
}
.tour_wrapper p {
  color: var(--sub-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 24px;
}
.tour_wrapper ul {
  padding-top: 16px;
  padding-left: 20px;
}
.tour_wrapper ul li {
  color: var(--sub-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 16px;
}
.tour_wrapper button {
  margin-top: 16px;
  transition: all linear 0.3s;
}
.tour_wrapper button:hover {
  background-color: transparent;
  color: var(--black-color);
}

/* destination section style  */

.destination_wrapper h3 {
  color: var(--black-color);
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.destination_wrapper p {
  color: var(--sub-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-top: 24px;
  max-width: 643px;
  margin: 0 auto;
  text-align: center;
}
.destination_first_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 48px;
  gap: 24px;
}
.destination_first_box img {
  width: 100%;
  height: auto;
}
.destination_second_box {
  display: grid;
  grid-template-columns: 374px 474px 274px;
  gap: 24px;
  padding-top: 20px;
}
.destination_second_box img {
  width: 100%;
}
.destination_third_box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
  padding-top: 24px;
}
.destination_third_box img {
  width: 100%;
  height: 100%;
}
.overlay_box {
  position: relative;
}
.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.411));
  color: var(--white-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 800;
}

/* ...........................  */
.trial {
  padding: 40px 0;
}
