/* common styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--black-color);
}
:root {
  --primary-color: #ff5400;
  --secondary-color: #5a5a5d;
  --sub-color: rgba(19, 19, 24, 0.7);
  --black-color: black;
  --white-color: white;
  --Mulish: Mulish, sans-serif;
}
body {
  font-family: var(--Mulish);
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

/* nav styles  */
.container_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 49px 0;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo_img {
  max-width: 50px;
}
.logo img {
  width: 100%;
}
.logo > h2 {
  color: var(--black-color);
  font-size: 36px;
  font-weight: 800;
  padding-left: 16px;
}
.logo > h2 > span {
  color: var(--primary-color);
}
.nav_menu {
  display: flex;
}
.nav_menu li {
  list-style: none;
  padding: 0 22px;
  font-size: 18px;
  font-weight: 600;
}
.nav_menu li:hover a {
  color: var(--primary-color);
}
.hamburger_icon {
  display: none;
  margin-right: 10px;
  font-size: 24px;
}
